@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#divContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: 'Poppins';
}

#divTitle{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 500px;
    border-bottom: solid 1px grey;
}

#divTitle p{
    padding: 10px;
    transition: 1s;
}

#divTitle p:hover{
    cursor: pointer;
    color: rgb(9, 122, 250);
}

#divConteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 590px;
    height: 600px;
    align-items: center;
    padding-bottom: 120px;
}

#divConteudo span{
    padding-top: 20px;
}

#divConteudo input{
    height: 30px;
    width: 530px;
    padding: 10px;
}

#divConteudo a{
    color: rgb(9, 122, 250);
    text-decoration: none;
}

#dados{
    color: rgb(9, 122, 250);
}

#dados:hover{
    cursor: pointer;
}

#divRodape{
    width: 3000px;
    padding: 20px;
    background-color: rgb(245, 245, 247);
}

#divConteudo img{
    width: 25%;
    height: 25%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}