@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#divTitle{
    background-color: rgb(55, 88, 150);
    color: white;
    padding: 15px;
    font-family: 'Poppins';
}

#divInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    gap: 20px;
    font-family: 'Poppins';
}

#divEmailTelefone label{
    padding: 30px;
}

#divSenha label{
    padding: 84px;
}

#divBotoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botaoEntrar{
    border: none;
    background-color: rgb(55, 88, 150);
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.botaoEntrar:hover{
    cursor: pointer;
}

.botaoConta{
    font-size: 18px;
    text-decoration: none;
}

.botaoCriar{
    color: white;
    background-color: rgb(69, 183, 60);
    border: none;
    padding: 5px;
    border-radius: 3px;
}

.botaoCriar:hover{
    cursor: pointer;
}